.password-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13rem;
  box-sizing: border-box;
  border-radius: 5rem;
}

.form-main {
  width: 25rem;
  margin-top: -12rem;
}

/* a {
  margin-left: 12.8rem;
} */
